<!-- header.ejs -->

<header>
  <!-- Your header content goes here -->
  <h1>Your Website Jelajah API</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li>
      <a href="/allposts">Posts</a>
    </li>
  </ul>
  <!-- Add navigation links, logo, or any other header elements -->
</header>
