<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        width: 50%;
        margin: auto;
        padding: 0;
        background-color: #f4f4f4;
      }
    </style>
  </head>
  <body>
    <%- include('header') %>
    <h1>Welcome to Jelajah Nusantara API</h1>
    <img src="<%= photoURL %>" alt="" />
    <h3>Hello, <%= username %></h3>
    <a href="/create-post">Create Post</a>
    <!-- Other profile information can be added here -->
    <a href="/logout">Logout</a>
  </body>
</html>
